<div>
    
    <div class="tl-outer">
        <div class="tl-inner">
            <svg width="100%" height="100%">
                <circle class="tl-start" 
                cx="{{c.startCircle.x}}" 
                cy="{{c.startCircle.y}}" 
                r="{{v.startCircle.radius}}" />

                <rect class="tl-line" 
                x="{{(c.startCircle.x*2)+($index*v.verticalSpacing)}}" 
                y="{{(c.startCircle.x-v.line.height/2)+($index*v.verticalSpacing)}}" 
                width="{{v.line.width}}" 
                height="{{v.line.height}}" 
                transform="skewX({{v.line.skew}})"
                ng-repeat="x in [].constructor(v.count) track by $index" 
                />

                <circle class="tl-start circle" 
                cx="{{c.startCircle.x+(v.horizontalSpacing*($index+1))}}" 
                cy="{{c.startCircle.y}}" 
                r="{{v.startCircle.radius}}" 
                ng-repeat="event in v.events track by $index"/>

                 <circle class="tl-start" 
                cx="{{c.startCircle.x+v.line.width}}" 
                cy="{{c.startCircle.y}}" 
                r="{{v.startCircle.radius}}" />
               
            </svg>
 
        </div>
    </div>

</div>


<div class="debug-panel">
    {{c.startCircle.x+v.line.width}}
    <br> Timeline length : <input type="number" ng-model="v.line.width" ng-change="v.calculate()"   /> 
    <br> Timeline height: <input type="number" ng-model="v.line.height"/> 
    <br> Start circle radius : <input type="number" ng-model="v.startCircle.radius"/> 
    <br> Vertical Spacing : <input type="number" ng-model="v.verticalSpacing"/> 
 

    <!--<div ng-repeat="x in [].constructor(5) track by $index">
        test
    </div>-->
</div>